<div class="container">
  <h1>Add a new movie</h1>
  <%= simple_form_for [@movie] do |f| %>
    <%= f.input :title, as: :string %>
    <%= f.input :year, as: :string %>
    <%= f.input :score, as: :integer %>
    <%= f.input :rating, as: :integer %>
    <h2>Select actors</h2>
    <%= f.collection_check_boxes :actor_ids, Actor.all.order(:name), :id, :name %>
    <h2>Select genres</h2>
    <%= f.collection_check_boxes :genre_ids, Genre.all.order(:id).pluck(:name), :id, :name %>
    <%= f.submit "Add this movie", class: "btn btn-warning" %>
  <% end %>
</div>
<%= console %>
